<div class="table-header">
    Realice los filtros correspondientes y presione "Filtrar"
</div><!-- table-header -->

<div class="well well-small form-inline" style="margin-bottom:0px;">
    
    <select id="sucursalesSelectPacientes" class="chosen">
        <option value="">Seleccionar Sucursal</option>
        {% for sucursal in arrSucursales %}
            <option value="{{ sucursal.id }}">{{ sucursal.nombreSucursal }}</option>
        {% endfor %}
    </select>

    <div class="input-append">
        <input class="date-picker" id="fechaMinPacientes" type="text" data-date-format="dd-mm-yyyy" value="{{ fechaMin | date("d-m-Y") }}">
        <span class="add-on">
            <i class="icon-calendar"></i>
        </span>
    </div>

    <div class="input-append">
        <input class="date-picker" id="fechaMaxPacientes" type="text" data-date-format="dd-mm-yyyy" value="{{ fechaMax | date("d-m-Y") }}">
        <span class="add-on">
            <i class="icon-calendar"></i>
        </span>
    </div>

    <button id="btnFiltrarPacientes" class="btn btn-primary btn-small"><i class="icon-filter"></i> Filtrar</button>

    <div id="errorFiltrarPacientes" class="text-error"></div>

</div><!-- well -->

<div class="table-header header-color-grey">
  <i class="icon-list-alt"></i> {{ titulo }}
</div><!-- table-header -->
 
<div id="contenedorTablaPacientes">{{ include(urlTabla) }}</div>

<div class="table-footer">
</div><!-- table-footer -->

<!-- chosen -->
<script src="{{ asset('js/chosen.jquery.min.js') }}"></script>
<!-- dataTables -->
{% javascripts '@InformesBundle/Resources/public/js/jquery.dataTables.min.js' %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}
{% javascripts '@InformesBundle/Resources/public/js/TableTools.js' %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}
<script src="{{asset('js/jquery.dataTables.bootstrap.js') }}"></script>  
<!-- timepicker - datepicker -->
<script src="{{ asset('js/bootstrap-timepicker.min.js') }}"></script>
<script src="{{ asset('js/bootstrap-datepicker.min.js') }}"></script>
<script src="{{ asset('js/date-time/locales/bootstrap-datepicker.es.js') }}" charset="UTF-8"></script>
<script src="{{ asset('js/tipped/spinners.min.js') }}"></script>
<script src="{{ asset('js/tipped/tipped.js') }}"></script>

<script>
    $('.chosen').chosen();

    $('.date-picker').datepicker({
        format: 'dd-mm-yyyy',
        language: 'es',
        autoclose: true
    });

    generarDataTable('tblCuentasPendientesDeCerrar');

    $("#btnFiltrarPacientes").click(function(){
        if($("#fechaMinPacientes").val() == "" || $("#fechaMaxPacientes").val() == ""){
            $("#errorFiltrarPacientes").html('<i class="icon-remove"></i> Debes seleccionar una fecha de inicio y una fecha de término');
            return false;
        }
        $("#errorFiltrarPacientes").html('');

        $.ajax({
            type: "POST",
            url: "{{ path(urlFiltrar) }}",
            data: { idSucursal: $("#sucursalesSelectPacientes option:selected").val(), fechaMin: $("#fechaMinPacientes").val(), fechaMax: $("#fechaMaxPacientes").val() }, 
            beforeSend: function()
            {
                $("#btnFiltrarPacientes").html('<i class="icon-spinner icon-spin"></i> Filtrando...');
            },
            success: function(data)
            {
                $("#contenedorTablaPacientes").html(data);
                generarDataTable('tblCuentasPendientesDeCerrar');
                $("#btnFiltrarPacientes").html('<i class="icon-filter"></i> Filtrar');
            }
        });
    }); // #btnFiltrar

    function generarDataTable(id){
        $("#" + id).DataTable({
            "oLanguage": {
                "sUrl": "{{ asset('js/datatables/dataTables.es.txt') }}"
            },
            "dom": 'Tlfrtip',
            "tableTools": {
                "sSwfPath": "{{ asset('js/datatables/TableTools/swf/copy_csv_xls_pdf.swf') }}",
                "aButtons": [
                {
                    "sExtends": "print",
                    "sButtonText": "<i class='icon-print'></i>",
                    "sToolTip": "Imprimir"
                },
                {
                    "sExtends": "xls",
                    "sButtonText": "<i class='icon-file-text'></i>",
                    "sToolTip": "Exportar a Excel"
                },
                {
                    "sExtends": "pdf",
                    "sButtonText": "<i class='icon-save'></i>",
                    "sToolTip": "Exportar a PDF"
                }
                ]
            }
        });
    }
</script>